In [1]:
import pandas as pd
import create_data_frame
from create_data_frame import df
import define_functions
from define_functions import format_text
from define_functions import fix_accents_bugs_in_pdf_conversion
from define_functions import encontrar_abstract
from define_functions import encontrar_resumo
from define_functions import encontrar_local
from define_functions import encontrar_ano
from define_functions import encontrar_keywords
from define_functions import encontrar_palavras_chave
from define_functions import encontrar_orientador

                       NOME_ARQUIVO  \
0     metadata\dissertacao_0001.txt
1     metadata\dissertacao_0002.txt
2     metadata\dissertacao_0003.txt
3     metadata\dissertacao_0004.txt
4     metadata\dissertacao_0005.txt
...                             ...
6107  metadata\dissertacao_6159.txt
6108  metadata\dissertacao_6160.txt
6109  metadata\dissertacao_6161.txt
6110  metadata\dissertacao_6162.txt
6111  metadata\dissertacao_6163.txt

                                               CONTEUDO
0     [VICENTE LOURENÇO GONÇALVES, CARDINALIDADE DE ...
1     [UNIVERSIDADE ESTADUAL DO SUDOESTE DA BAHIA – ...
2     [BEATRIZ ROSSIGNOL VIEIRA CARDOSO, O TRABALHO ...
3     [UNIVERSIDADE FEDERAL DO MARANHÃO, CENTRO DE C...
4     [UNIVERSIDADE FEDERAL DA PARAÍBA, CENTRO DE CI...
...                                                 ...
6107  [Universidade Federal da Bahia - UFBA, Institu...
6108  [UNIVERSIDADE FEDERAL DO ESPÍRITO SANTO, DEPAR...
6109  [Universidade Federal da Bahia - UFBA, Institu...
6110  [UFES - Universidade Federal do Espírito Santo...
6111  [UNIVERSIDADE FEDERAL DO ESPÍRITO SANTO, DEPAR...

[6112 rows x 2 columns]

In [2]:
pd.set_option('display.max_columns', None)
df

,NOME_ARQUIVO,CONTEUDO
0,metadata\dissertacao_0001.txt,"[VICENTE LOURENÇO GONÇALVES, CARDINALIDADE DE ..."
1,metadata\dissertacao_0002.txt,[UNIVERSIDADE ESTADUAL DO SUDOESTE DA BAHIA – ...
2,metadata\dissertacao_0003.txt,"[BEATRIZ ROSSIGNOL VIEIRA CARDOSO, O TRABALHO ..."
3,metadata\dissertacao_0004.txt,"[UNIVERSIDADE FEDERAL DO MARANHÃO, CENTRO DE C..."
4,metadata\dissertacao_0005.txt,"[UNIVERSIDADE FEDERAL DA PARAÍBA, CENTRO DE CI..."
...,...,...
6107,metadata\dissertacao_6159.txt,"[Universidade Federal da Bahia - UFBA, Institu..."
6108,metadata\dissertacao_6160.txt,"[UNIVERSIDADE FEDERAL DO ESPÍRITO SANTO, DEPAR..."
6109,metadata\dissertacao_6161.txt,"[Universidade Federal da Bahia - UFBA, Institu..."
6110,metadata\dissertacao_6162.txt,[UFES - Universidade Federal do Espírito Santo...
6111,metadata\dissertacao_6163.txt,"[UNIVERSIDADE FEDERAL DO ESPÍRITO SANTO, DEPAR..."

In [4]:
df['CONTEUDO'] = df['CONTEUDO'].map(lambda lines: [fix_accents_bugs_in_pdf_conversion(line) for line in lines])

In [8]:
df['CONTEUDO']= df['CONTEUDO'].map(lambda lines: [format_text(line) for line in lines])

In [11]:
df['UNIVERSIDADE'] = df['CONTEUDO'].map(lambda lines: lines[0] if lines else "")
df['UNIVERSIDADE']

0                            VICENTE LOURENCO GONCALVES
1      UNIVERSIDADE ESTADUAL DO SUDOESTE DA BAHIA  UESB
2                      BEATRIZ ROSSIGNOL VIEIRA CARDOSO
3                      UNIVERSIDADE FEDERAL DO MARANHAO
4                       UNIVERSIDADE FEDERAL DA PARAIBA
                            ...
95                     UNIVERSIDADE FEDERAL DO MARANHAO
96    2020: TRABALHO DE CONCLUSAO DE CURSO DO MESTRA...
97         UNIVERSIDADE FEDERAL DO OESTE DO PARA  UFOPA
98                UNIVERSIDADE FEDERAL DO OESTE DO PARA
99                       UNIVERSIDADE ESTADUAL DO CEARA
Name: UNIVERSIDADE, Length: 100, dtype: object

In [12]:
df['ORIENTADOR'] = df['CONTEUDO'].map(lambda lines: encontrar_orientador(lines))
df['ORIENTADOR']

0     ORIENTADOR:  PROF.  DR.  ROGERIO  FERREIRA  DA
1                                       ORIENTADORA:
2        ORIENTADOR: PROF. ME. LUCAS CASANOVA SILVA.
3       ORIENTADOR: PROF. DR. GIOVANE FERREIRA SILVA
4
                           ...
95          ORIENTADOR: PROF. GIOVANE FERREIRA SILVA
96
97     ORIENTADOR: PROF. DR. LENILSON MOREIRA ARAUJO
98            ORIENTADOR: PROF. DR. CLAUDIR OLIVEIRA
99                             ORIENTADOR: PROF. DR.
Name: ORIENTADOR, Length: 100, dtype: object

In [13]:
df['ANO'] = df['CONTEUDO'].map(lambda lines: encontrar_ano(lines))
df['ANO']

0                                                  2023
1                                                  2023
2                                                  2022
3                                                  2021
4     1879  O  MATEMATICO  R.  HOPPE  DESCREVEU  FOR...
                            ...
95                                                 2020
96    2020: TRABALHO DE CONCLUSAO DE CURSO DO MESTRA...
97                                                 2020
98                                                 2020
99                                                 2020
Name: ANO, Length: 100, dtype: object

In [14]:
df['RESUMO'] = df['CONTEUDO'].map(lambda lines: encontrar_resumo(lines))
df['RESUMO']

0     O PRESENTE TRABALHO TRATA DA CARDINALIDADE DE ...
1     SABEMOS QUE O TEOREMA DE PITAGORAS POSSUI APLI...
2     NUM  MUNDO  DE  MUDANCAS  CONSTANTES  OS  PROF...
3     APRESENTA-SE NESTE TRABALHO O USO DO SOFTWARE ...
4     ESTE TRABALHO FRUTO DE PESQUISAS BIBLIOGRAFICA...
                            ...
95    ESTE TRABALHO TRATA DO USO DE RECORRNCIA NA ED...
96    ALGUNS RABISCOS ETIENNE GYS MAL PODE ACREDITAR...
97    O  OBJETIVO  DESTA  PESQUISA  FOI  PROPOR  ATI...
98    AS AVALIACOES EM LARGA ESCALA SAO REALIDADES P...
99    O USO DAS LINGUAGENS DE PROGRAMACAO TEM AUMENT...
Name: RESUMO, Length: 100, dtype: object

In [19]:
df['ABSTRACT'] = df['CONTEUDO'].map(lambda lines: encontrar_abstract(lines))
df['ABSTRACT']

0     THE PRESENT  WORK  DEALS  WITH  THE  CARDINALI...
1     WE KNOW  THAT  THE  PYTHAGOREAN  THEOREM  HAS ...
2     IN  A  WORLD  OF  CONSTANT  CHANGE  TEACHERS  ...
3     IN THIS WORK WE PRESENTE THE USE OF THE  DYNAM...
4     THIS WORK THE RESULT OF BIBLIOGRAPHIC RESEARCH...
                            ...
95    THIS WORK DEALS WITH THE USE OF RECURRENCE IN ...
96
97    THE OBJECTIVE OF THIS RESEARCH WAS TO PROPOSE ...
98    LARGE-SCALE  ASSESSMENTS  HAVE  BEEN  PRESENT ...
99    THE USE OF PROGRAMMING LANGUAGES HAS INCREASED...
Name: ABSTRACT, Length: 100, dtype: object

In [20]:
df['KEYWORDS'] = df['CONTEUDO'].map(lambda lines: encontrar_keywords(lines))
df['KEYWORDS']

0     KEYWORDS:  INFINITE  SETS;  CARDINALITY;  BASI...
1     KEYWORDS: PYTHAGOREAN THEOREM GEOGEBRA TEACHIN...
2               KEYWORDS: GROUPWORK; MATHEMATICS; BNCC.
3          KEYWORDS: HIGH SCHOOL TRIGONOMETRY GEOGEBRA.
4     KEYWORDS: BRAHMAGUPTAS TRIANGLES. ARITHMETIC T...
                            ...
95    KEYWORDS: NUMERICAL SEQUENCE. RECURRENCE. RECU...
96
97    KEYWORDS: GEOMETRIC CONSTRUCTIONS. GEOMETRY TE...
98    KEYWORDS: LARGE-SCALE ASSESSMENT SCHOOL PERFOR...
99    KEYWORDS: PYTHON. FORTRAN. PROGRAMMING LANGUAG...
Name: KEYWORDS, Length: 100, dtype: object

In [ ]:
df['LOCAL'] = df['CONTEUDO'].map(lambda lines: encontrar_local(lines))
#Corrigir: "ValueError: 'FONSECA' is not in list"

In [ ]:
df['PALAVRAS_CHAVE'] = df['CONTEUDO'].map(lambda lines: encontrar_palavras_chave(lines))
#Corrigir erro: "IndexError: list index out of range"

In [ ]:
df.to_excel("C:\\data_extraction\\dados_amostra_2.xlsx", index=False)

#Salvo arquivo com dados extraídos da segunda amostra, contendo 100 arquivos